/*GENERAL*/
body {
	font-family: 'Poppins', sans-serif !important;
}
#scroll {
	margin-bottom: 1.5em;
}
.step {
	margin-left: 25px;
	margin-right: 25px;
}
.viz {
	max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
    display: table;
    vertical-align: middle;
}
.chart {
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.viz p, .viz ol {
	text-align: justify;
	font-size: 20px;
	line-height: 1.25em;
	margin: 1.75em;
}
#top {
	border-bottom: 1px dashed #000;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-bottom: 2em;
}
.chart-big {
	position: absolute;
	right: 1rem;
	left: 50%;
	top: 12%;
	-moz-transform: translate(-50%);
	-webkit-transform: translate(-50%);
	transform: translateY(-50%, -50%);
}

.chart-small {
	position: absolute;
	right: 1rem;
	left: 50%;
	top: 20%;
	-moz-transform: translate(-50%);
	-webkit-transform: translate(-50%);
	transform: translateY(-50%, -50%);
}

.hr {
	border-bottom: 1px dashed #000;
}

.mb {
	margin-bottom: 2em;
}

h2.intro {
	margin-bottom: 50px;
}
.center {
	text-align: center;
}
.intro_dek_em {
	font-size: 1.1rem;
	margin: 25px;
}
.sm {
	font-size: 15px;
}
.em {
	color: darkgray;
}
.intro__dek, #intro blockquote {
	text-align: justify;
	line-height: 1.5em;
	font-size: 1.1rem;
}
.step {
	min-height: 500px;
	vertical-align: middle;
	display:table;
}
.step p {
    font-size: 1.1rem;
}
.step ol {
	padding: 1rem;
    font-size: 1.1rem;
}
#outro {
	max-width: 40rem;
	margin: 1rem auto;
}
#outro .intro__dek {
	margin: 25px;
}
#footer {
	border-top: 1px dashed #000;
}
.input-select {
	font-family: 'Poppins';
	font-size: 18px;
	width: 15rem;
}
/*VIS1*/
.labels {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.5px;
}

.axis path {
	stroke: rgb(220,220,220);
	opacity: 0.3;
}

.title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 60px;
	letter-spacing: -3.5px;
	transform: scale(1, 1.03);
}

.subtitle {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 15px;
	transform: scale(1, 1.03);
}

.axisLabels {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
}

.axis text {
	font-family: 'Poppins', sans-serif;
}

.annoNum {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 10px;
}

.annotation-note-title {
	font-size: 12px;
	fill: rgb(37,59,79);
}

.annotation-note-label {
	font-size: 11px;
	fill: rgb(37,59,79);
}

.annotation-group-outline, .annotation-group {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 11px;
	fill: rgb(37,59,79);
}

.instruction {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 9.5px;
	fill: rgb(37,59,79);
}

/*VIS 2*/
.tooltip {
		font-family: 'Poppins', sans-serif;
		font-weight: 300;
		/*transform: scale(1, 1.03);		*/
}

.labels {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.5px;
}

.axis path {
	stroke: rgb(220,220,220);
	opacity: 0;
}

.title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 60px;
	letter-spacing: -3.5px;
	transform: scale(1, 1.03);
}

.subtitle {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 15px;
	transform: scale(1, 1.03);
}

.axisLabels {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
}

.axis text {
	font-family: 'Poppins', sans-serif;
}

.circles {
	opacity: 0.6;
}
/*VIZ3*/
.tooltip {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

.labels {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.5px;
}

.axis path {
	stroke: rgb(220,220,220);
	opacity: 0;
}

.title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 60px;
	letter-spacing: -3.5px;
	transform: scale(1, 1.03);
}

.subtitle {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 15px;
	transform: scale(1, 1.03);
}

.axisLabels {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
}

.axis text {
	font-family: 'Poppins', sans-serif;
}

.circles {
	opacity: 0.6;
}

.instruction {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 10px;
	fill: rgb(37,59,79);
}

.annotation-note-title {
	font-size: 12px;
	fill: rgb(37,59,79);
}

.annotation-note-label {
	font-size: 11px;
	fill: rgb(37,59,79);
}

.annotation-group-outline, .annotation-group {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 11px;
	fill: rgb(37,59,79);
}
/*VIZ4*/

.line {
  fill: none;
  stroke: #0d1a2f;
  stroke-width: 3px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hover-line {
  stroke: #0d1a2f;
  stroke-width: 1px;
  stroke-dasharray: 1,1;
}
/* do not delete */
.hidden {
	display: none;
}
.show {
	display: block;
}