/*GENERAL*/
#chart {
	position: absolute;
	right: 1rem;
	left: 50%;
	top: 25%;
	-moz-transform: translate(-50%);
	-webkit-transform: translate(-50%);
	transform: translateY(-50%, -50%);
}
/*VIS1*/
.labels {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.5px;
}

.axis path {
	stroke: rgb(220,220,220);
	opacity: 0.3;
}

.title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 60px;
	letter-spacing: -3.5px;
	transform: scale(1, 1.03);
}

.subtitle {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 15px;
	transform: scale(1, 1.03);
}

.axisLabels {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
}

.axis text {
	font-family: 'Poppins', sans-serif;
}

.annoNum {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 10px;
}

.annotation-note-title {
	font-size: 12px;
	fill: rgb(37,59,79);
}

.annotation-note-label {
	font-size: 11px;
	fill: rgb(37,59,79);
}

.annotation-group-outline, .annotation-group {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 11px;
	fill: rgb(37,59,79);
}

.instruction {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 9.5px;
	fill: rgb(37,59,79);
}

/*VIS 2*/
circle:hover {
   fill: blue;
}

#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 11px;
	line-height: 20px;
}
/*VIS4*/
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #0d1a2f;
  stroke-width: 3px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #FFFFFF;
  stroke: #0d1a2f;
  stroke-width: 2px;
}

.hover-line {
  stroke: #0d1a2f;
  stroke-width: 2px;
  stroke-dasharray: 2,3;
}
.hidden {
	display: none;
}
.show {
	display: block;
}